* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto","Helvetica",sans-serif;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
}

h1, h2, h3 {
  padding-bottom: 1rem;
  color: #757575 !important;
}

hr {
  color: rgba(144, 144, 144, 0.4);
  background-color: rgba(144, 144, 144, 0.4);
  height: 0.05rem;
  border: 0;
}

.no-background {
  background-color: rgba(255, 255, 255, 0) !important;
}

.white-background {
  background-color: white !important;
}

.light-gray-background {
  background-color: #f5f5f5 !important;
}

.absolute {
  position: absolute;
}

.white {
  color: white !important;
}

.gray {
  color: #757575 !important;
}

.flex-grid {
  display: flex;
}

.shadow {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.full-horizontal {
  padding: 1rem;
  width: 100%;
}

.padding {
  padding: 1rem;
}

.fixed {
  position: fixed;
  margin-top: -4rem;
  z-index: 1;
}

.right {
  float: right;
  text-align: right;
}

.dodge-fixed {
  margin-top: 4em;
}

.col {
  flex: auto;
}

.col-1 {
  flex: 1;
}

.col-0-9 {
  flex: 0.9;
}

.col-0-8 {
  flex: 0.8;
}

.col-0-7 {
  flex: 0.7;
}

.col-0-6 {
  flex: 0.6;
}

.col-0-5 {
  flex: 0.5;
}

.col-0-4 {
  flex: 0.4;
}

.col-0-3 {
  flex: 0.3;
}

.col-0-2 {
  flex: 0.2;
}

.col-0-1 {
  flex: 0.1;
}

.flex-grid .col,
.flex-grid .col-sm,  
.flex-grid .col-1, 
.flex-grid .col-0-9, 
.flex-grid .col-0-8, 
.flex-grid .col-0-7, 
.flex-grid .col-0-6, 
.flex-grid .col-0-5,
.flex-grid .col-0-4, 
.flex-grid .col-0-3, 
.flex-grid .col-0-2,  
.flex-grid .col-0-1 {
  margin: 0.5rem;
}

.full-horizontal .flex-grid .col {
  margin: 0;
  padding: 0;
}

nav a {
  margin-right: 1rem;
}

@media (max-width: 60rem) {
  .flex-grid .col-sm {
    flex: auto;

  }

  .block-grid-sm {
    display: block;
  }

  .fixed {
    margin-top: -5rem;
  }

  .dodge-fixed {
    margin-top: 5em;
  }
}

@media (max-width: 30rem) {
  .flex-grid .col-xs {
    flex: auto;

  }

  .block-grid-xs {
    display: block;
  }

  .fixed {
    margin-top: -5rem;
  }

  .dodge-fixed {
    margin-top: 5em;
  }
}

